@model IEnumerable<RUbook.Models.Friend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Details", "Create", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
