@model RUbook.Models.Post


@{
    ViewBag.Title = "Create a new Post for Timeline";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
                <h3>Create a new Post for Timeline</h3>
                <div class="input-group">
                    @Html.TextAreaFor(model => model.text, new { @class = "newpost", rows = 3, cols = 55, placeholder = "Something on your mind?" })
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Post Text" class="btn btn-info" />
                            
                        </div>
                    </div>
                </div>

                <h3>Insert a new Photo for Timeline</h3>
                <div class="input-group">
                    <!--Hér á eftir að gera virkni fyrir að setja inn Mynd!-->
                    <form>
                        <div class="form-group">
                            <label for="exampleInputFile">Add Profile Picture</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Here you can choose a photo for your Timeline</p>
                        </div>
                    </form>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Post Photo" class="btn btn-info" />

                        </div>
                    </div>
                </div>
            </div>   
        </div>

    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
