@model RUbook.Models.Post


@{
    ViewBag.Title = "Create Post";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextAreaFor(model => model.Text, new { @class = "newpost", rows = 3, cols = 55, placeholder = "Something on your mind?" })
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Create" class="btn btn-info" />
                            
                        </div>
                    </div>
                </div>
            </div>   
        </div>

    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
