ul li { 
    display:inline; 
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    color: rgb(159, 30, 99);
}

.clock {
    padding-right: 15%;
}

#point { 
    position:relative;
    font-size:40px; 
}

#hours, #min, #sec {
    font-size:40px; 
}