body {
    background-color:#fff9fc;
    padding: 70px;
    margin: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 991px) {
    a#mobile {
        display: inherit;
    }

    a#desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    a#mobile {
        display: none;
    }

    a#desktop {
        display: inherit;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.newpost {
    max-width: 100%;
    width: 100%;
}


.navbar {
    background-color:#9f1e63;
}

img{
    width:100%;
    max-width:600px;
}

﻿body {
    background-color:#fff9fc;
    padding: 70px;
    margin: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.newpost {
    max-width: 100%;
    width: 100%;
}


.navbar {
    background-color:#9f1e63;
}

a {
    color: #d16ea3;
}

img {
    width:100%;
    max-width:600px;
}

.footer-RUbook {
    padding: 70px;
    margin: auto;
}

li {
    list-style-type: none;
}

a.linkcolor {
    color: #000000;
}

i.fa#size {
    font-size: 1.3em;
}

a.fa {
    font-size: 1.5em;
}

i#logout {
    font-size: 1.5em;
}

.navbar-brand {
    font-size: 25px;
}

#bigerror {
    font-size: 120px;
}