@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="input-group">

            <textarea class="form-control" placeholder="Something on your

mind?"></textarea>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>