@model RUbook.Models.UserInfo

@{
    ViewBag.Title = "Details";
}


<center>
    <h3>Personal Information</h3>
    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

    <div>
        <div>
            <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="Your Photo" style="width:304px;height:228px">
        </div>


        <!--Hér á eftir að gera virkni fyrir að setja inn Mynd!-->
        <form>
            <div class="form-group">
                <label for="exampleInputFile">Add Profile Picture</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Here you can choose your personal picture for your Home Page</p>
            </div>
        </form>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</center>
