@model IEnumerable<RUbook.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>All Users</h2>

<table class="table">
  
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Checkout user", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
