@{
    ViewBag.Title = "Your Password has been reseted";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <h3>
        Please check your Ru-email to reset your password.
    </h3>
</div>
	
