@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
 }

<!--Help to create this view was found at-->
<!--http://stackoverflow.com/questions/13905164/how-to-make-custom-error-pages-work-in-asp-net-mvc-4-->

<h1 id="bigerror"><i class="fa fa-exclamation-triangle"></i> Unknown Error</h1>

<div class="list-sfs-holder">
    <div class="alert alert-error">
        <div>
            <h2>
                <i class="fa fa-user-secret"></i>
                Mr. Error says:
            </h2>
        </div>
        
        <h3>
            The error is unknown because the guy who wrote this part of the code quit a while back and he was like
            really really smart and the rest of us are not really sure how this works or what to do.
            By the way, if you are that guy, please give us a call and let us know what to do.
        </h3>
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
@Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>

